[Desktop Entry]
Type=Application
Name=EyeWitness
Categories=X-Varios;
Exec=/usr/share/sherlock-menu/exec-in-shell "EyeWitness -h"
Icon=/home/sherlock/iconos/osint-eyewitness.png
Terminal=true