[Desktop Entry]
Type=Application
Name=Hostintel
Categories=X-Seguridad;
Exec=/usr/share/sherlock-menu/exec-in-shell "hostintel -h"
Icon=/home/sherlock/iconos/osint-sherlocklinux.png
Terminal=true
