[Desktop Entry]
Type=Application
Name=X Ray
Categories=X-DNS;
Exec=/usr/share/sherlock-menu/exec-in-shell "xray"
Icon=/home/sherlock/iconos/osint-sherlocklinux.png
Terminal=true
